@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


::-webkit-scrollbar {
  width: 8px;
  display: none;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; 
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #38bdf8; 
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}